---
layout: default
title: Error
description: Page Not Found
---

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand navbar-logo page-scroll" href="{{site.baseurl}}/"><img alt="Home" src="{{site.baseurl}}/assets/img/logo/brand.png"></a>
            <a class="navbar-brand navbar-title page-scroll" href="{{site.baseurl}}/">{{ site.title }}</a>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="intro-header" style="{% if page.header_img %}background-image: url('{{ site.baseurl }}{{ page.header_img }}'){% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    {% if page.description %}
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Page Not Found</h2>

                <p>The page you are looking for could not be found.</p>
            </div>
        </div>
    </div>
</section>