---
layout: index
title: Smart Web Development
description: We specialise in custom web development and creating online applications. Providing contract and freelance services since 2000.
---

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo page-scroll" href="#top"><img alt="Home" src="{{site.baseurl}}/assets/img/logo/brand.png"></a>
            <a class="navbar-brand navbar-title page-scroll" href="#top">Mr PHP</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#development">Web Dev</a>
                </li>
                <li>
                    <a class="page-scroll" href="#support">Support</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header_img %}{{ page.header_img }}{% else %}{{ site.header_img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr>
                    <div class="subheading">{{ site.description }}</div>
                    <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>

                <h3 class="section-subheading text-muted">We specialise in building custom web based applications.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Development</h4>

                <p class="text-muted">Custom web-based applications to suit the ongoing requirements of your business.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">E-Commerce</h4>

                <p class="text-muted">Shopping cart modifications are simple with our experienced developers.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Design</h4>

                <p class="text-muted">Your site will look fantastic on all the types of devices your visitors use.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Server Management</h4>

                <p class="text-muted">Systems administration and operating system management.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Database Administration</h4>

                <p class="text-muted">Advanced database management techniques including replication.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Security</h4>

                <p class="text-muted">Web security to protect your applications and servers from attackers.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">System Support</h4>

                <p class="text-muted">We worry about your application, servers and backups so that you don't have to.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-retweet fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Integrations</h4>

                <p class="text-muted">Extensive experience integrating with many APIs and cloud services.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Workflow Management</h4>

                <p class="text-muted">Custom resource planning solutions to improve manufacturing workflow.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Search Engine Optimisation</h4>

                <p class="text-muted">Improving SEO to get the most out of your organic search results.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Search Engine Marketing</h4>

                <p class="text-muted">Implementing, monitoring and improving SEM to increase revenue.</p>
            </div>
            <div class="col-md-4 col-sm-6 service">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Backups</h4>

                <p class="text-muted">Real-time and offsite backups of your applications and databases.</p>
            </div>
        </div>

    </div>
</section>

<!-- Web Development Section -->
<section id="development" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Web Development Guide</h2>

                <h3 class="section-subheading text-muted">Custom application development with cloud-based applications.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>&nbsp;<i class="fa fa-flask fa-4x"></i>&nbsp;</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Your Requirements</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">You may have an abstract idea about what you want as an end result, but not what you want the software to do. We aim to take the concept out of your head and turn it into completed software.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>&nbsp;<i class="fa fa-code fa-4x"></i>&nbsp;</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Planning and Development</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We will create a plan to bring all of your requirements to
                                    life. While the plan is used as an overall guide to development, the
                                    methods we use to develop are very flexible should you change your mind
                                    on some of the details.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>&nbsp;<i class="fa fa-eye fa-4x"></i>&nbsp;</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Development Preview</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Development changes will be deployed immediately to your staging server for
                                    you to preview as we publish code. You will be able to work closely with us to ensure the application looks
                                    and works exactly the way you imagined.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>&nbsp;<i class="fa fa-bolt fa-4x"></i>&nbsp;</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Deployment</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Once the application is ready for live deployment a trained engineer will
                                    perform all required system changes including database modifications and
                                    file updates. The application will then be given final testing.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</section>

<!-- System Support Section -->
<section id="support">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">System Support</h2>

                <h3 class="section-subheading text-muted">Our software engineers have extensive experience in a number of development languages and platforms.</h3>

                <div class="row">
                    <div class="col-md-4 col-sm-6 support-item">
                        <h4>Web Technologies</h4>
                        <ul class="list-unstyled">
                            <li>PHP</li>
                            <li>MySQL / SQLite</li>
                            <li>HTML5 / CSS3</li>
                            <li>JavaScript / jQuery / AngularJS</li>
                            <li>Git / SVN</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 support-item">
                        <h4>PHP Frameworks</h4>
                        <ul class="list-unstyled">
                            <li>Yii Framework</li>
                            <li>Laravel</li>
                            <li>WordPress</li>
                            <li>Drupal</li>
                            <li>CakePHP</li>
                            <li>CodeIgniter</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 support-item">
                        <h4>E-Commerce Engines</h4>
                        <ul class="list-unstyled">
                            <li>OpenCart</li>
                            <li>Magento</li>
                            <li>Zen-Cart</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 support-item">
                        <h4>Operating Systems</h4>
                        <ul class="list-unstyled">
                            <li>Ubuntu</li>
                            <li>Vagrant</li>
                            <li>Docker</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 support-item">
                        <h4>Web Servers</h4>
                        <ul class="list-unstyled">
                            <li>Apache</li>
                            <li>Nginx</li>
                            <li>NodeJS</li>
                            <li>Varnish</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 support-item">
                        <h4>Cache Platforms</h4>
                        <ul class="list-unstyled">
                            <li>Redis</li>
                            <li>Opcache</li>
                            <li>APC</li>
                            <li>Memcached</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>

                <h3 class="section-subheading text-muted">Our applications are built using modern web development tools.</h3>
            </div>
        </div>
        <div class="row">
            {% for portfolio in site.portfolio reversed limit:6 %}
            <div class="col-md-4 col-sm-6 portfolio-preview">

                <a href="{{ portfolio.url | prepend: site.baseurl }}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/assets/img/portfolio/placeholder.gif" data-original="{{ site.baseurl }}/assets/img/portfolio/{{ portfolio.image }}" class="img-responsive lazy" alt="{{ portfolio.title }}">
                </a>

                <div class="portfolio-caption">
                    <h4>{{ portfolio.title }}<br>
                        <small>{{ portfolio.subtitle }}</small>
                    </h4>
                    <p class="text-muted">{{ portfolio.description }}</p>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>

                <h3 class="section-subheading text-muted">Find out how we can help with contract and freelance web development services.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include contact.html %}
            </div>
        </div>
    </div>
</section>

{% include footer.html %}


<div style="display:none"><a href="https://plus.google.com/105251425294714122907" rel="publisher">Google+</a></div>
