---
layout: page
title: Dev Resources
permalink: /resources/
description: Links to software and tools that developers need to know about.
---

{% for category in site.data.resources %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ category.name }}</h2>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for resource in category.resources %}
            <li>
                <a href="{{resource.url}}">{{resource.name}}</a>: {{resource.description}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
