<footer>
    <div class="container text-left">
        <div class="row">
            <div class="col-md-4">
                <h3>{{ site.title }}</h3>
                <abbr title="Phone">P</abbr>: <a href="tel:{{ site.phone_int }}">{{ site.phone }}</a><br/>
                <abbr title="Email">E</abbr>: <a href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
                <abbr title="Australian Business Number">ABN</abbr>: {{ site.abn }}<br/>
                <address>{{ site.address }}</address>
            </div>
            <div class="col-md-4">
                <h3>On the Web</h3>
                <ul class="list-inline social-buttons">
                    <li class="text-center">
                        <a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="https://www.facebook.com/{{site.facebook_page}}"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="https://www.linkedin.com/company/{{site.linkedin_company}}"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="https://github.com/{{site.github_username}}"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>About Us</h3>

                <p>{{ site.about }}</p>
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="{{site.baseurl}}/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/resources/">Resources</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/contact/">Contact</a>
                    </li>
                    <!--
                    <li>
                        <a href="{{site.baseurl}}/newsletter">Newsletter</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
        <hr/>
        <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}.</p>
    </div>
</footer>
