---
layout: default
---

{% include navbar.html %}

{% assign post = page %}
{% if post.tags.size > 0 %}
{% capture tags_content %}Tagged with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}
<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
{% for post_tag in post.tags %}
{% for data_tag in site.data.tags %}{% if data_tag.slug == post_tag %}{% assign tag = data_tag %}{% endif %}{% endfor %}
{% if tag %}{% capture tags_content_temp %}{{ tags_content }}
<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}{% assign tags_content = tags_content_temp %}{% endif %}
{% endfor %}
{% else %}
{% assign tags_content = '' %}
{% endif %}

<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
  
<!-- Post Header -->
<header class="intro-header" style="{% if page.header_img %}background-image: url('{{ site.baseurl }}{{ page.header_img }}'){% endif %}">
    <div class="container">
        <div class="post-heading">
            <h1 itemprop="name">{{ page.title }}</h1>
            {% if page.subtitle %}
            <hr>
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">
                Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on 
                <time class="published" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                    {{ page.date | date: "%B %-d, %Y" }}
                </time>
            </span>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">

        <div class="entry" itemprop="articleBody">
            {{ content }}
        </div>
        
        <hr>

        <div class="row">
            <div class="col-md-6">
                <p id="post-meta">{{ tags_content }}</p>
            </div>
            <div class="col-md-6 text-right">
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style pull-right" style="margin:0 auto; width:200px;">
                    <a class="addthis_button_preferred_1" href="#top"></a>
                    <a class="addthis_button_preferred_2" href="#top"></a>
                    <a class="addthis_button_preferred_3" href="#top"></a>
                    <a class="addthis_button_preferred_4" href="#top"></a>
                    <a class="addthis_button_compact" href="#top"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-528028ff07267aac"></script>
            </div>
        </div>

        <hr>

        <h2>Comments</h2>

        <div id="disqus_thread"></div>
        <noscript>
            Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
        <script type="text/javascript">
            var disqus_shortname = 'mrphp';
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>

    </div>
</article>
